@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(29,23,59);
background: linear-gradient(180deg, rgba(29,23,59,1) 0%, rgba(82,52,122,1) 100%);
}

main p{
    font-size: 4rem;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
}